sanic
natsort
fastapi
PYJWT
uvicorn
nltk
future
aiotask-context
Cython
Keras==2.3.1
mxnet-cu100
tensorflow-gpu==2.5.1
scipy==1.0
Pillow==7.1.0
webdriver_manager
tqdm
easydict
scikit-image==0.14.5
opencv-python
scikit-learn==0.22.1
numpy==1.16.5
