sanic
natsort
fastapi
PYJWT
uvicorn
nltk
future
aiotask-context
Cython
Keras==2.3.1
mxnet-cu100
tensorflow-gpu==1.15.2
scipy==1.0
Pillow==8.1.1
webdriver_manager
tqdm
easydict
scikit-image==0.14.5
opencv-python
scikit-learn==0.22.1
numpy==1.16.5
